<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
    <div id="page">
        <%- include("./partials/nav") %>
        <main>
            <div class="note-page">
                <a href="/list" class="btn btn-primary mb-3">Go back</a>
                <section class="note-page-content">
                    <article class="note-detail">

                        <hgroup>
                            <h1><b>Title:</b> <%=notes.title%></h1>
                            <h3> <b>Snippet:</b> <%= notes.snippet %></h3>
                        </hgroup>

                        <div class="note-body">
                            <h4><b>Body:</b></h4>
                            <p> <%= notes.body %> </p>

                        </div>
                    </article>
                </section>
            </div>
        </main>
        <%- include("./partials/footer.ejs") %>
    </div>
</body>

</html>